*
{
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
body{
	font-family: montserrat;	
}
#content img{
  float: right;
  margin-right: 0%;
  margin-left: 2%;
  margin-top: 2%;
}
#mainContent{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 40%;
  float: left;
}
#content{
  width: 56%;
  height: 1300px;
  background-color:#848482;
  border-radius: 15px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  padding: 5% 10%;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 5%;
  font-size: 20px;
}
nav{
	background: #696969;
	height: 80px;
	width: 100%;	
}
label.logo{
	color: #232b2b;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}
nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: #080808;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}
a.active,a:hover{
	background: #ff4040;
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30ox;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 24px;
	}
}
@media (max-width 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position; fixed;
		width: 100%;
		height: 100vh;
		background: #a9a9a9;
		top: 80px;
		left: -100;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	a.hover,a.active{
		background: none;
		color: #0082e6;
	}
	#check:checked ~ul{
		left: 0;
	}
}
#bottom h1{
	font-weight: 400;
    float: left;
    text-align: center;
}
#bottom ul{
	float: right;
	margin-right: 10px;
}
#bottom ul li{
    list-style-type: none;
    display: inline-block;
}
#bottom ul li:hover{
    background: #696969;
    transition: all 0.35s;
}
#bottom ul li a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
#bottom{
  background:url("banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%
  position: fixed;
  line-height: 70px;
  color: #696969;
  opacity: 10;
}
section{
	background-image: url(background666.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}
#top-sidebar{
	width: ;
	height: ;
	float: right;
	padding: ;
	margin: 3% 4% 2%;
}
#ex{
	height: 0%;
}
		
		
		
	
	

	
	






